
  
<div id="maior">
  <div id="cadastro">
  <form id="formulario" method="post" action=""> 
    <div id="logo">
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg/200px-Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg.png" alt="logo" width=130 height=110 > 
      
    </div>
      <p>
        <label for="nome_cad">Seu nome</label>
        <input id="nome_cad" name="nome_cad" required="required">
      </p>
      
      <p> 
        <label for="email_cad">Seu e-mail</label>
        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="exemplo@gmail.com"> 
      </p>
      
      <p> 
        <label for="senha_cad">Sua senha</label>
        <input id="senha_cad" name="senha_cad" 
        required="required" type="password" placeholder="1234" /> 
      </p>
      
   
        <input type="submit" value="Cadastrar"/> 

      
      <div class="link">  
        Já tem conta?
        <a routerLink="/"> Ir para Login </a>
      </div>
    </form>
  </div>
  </div>
