<div id="maior"class="container">
    <div id="login">
      <form id="formulario" method="post" action="">
        <div id="logo">
      
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg/200px-Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg.png" alt="logo" width=130 height=110 > 
          
        </div>
        <p> 
          <label for="email_login">Seu e-mail</label>
          <input id="email_login" name="email_login">
          
        </p>
        
        <p> 
          <label for="senha_login">Sua senha</label>
          <input type="password" id="senha_login" name="senha_login"> 
        </p>
        
        <p> 
          <input type="submit" (click)="logar();" onclick="alert('Bem vindo ao nosso site! Nossa proposta é que a plataforma seja um ambiente seguro, para que possam comunicar suas necessidades enquanto aluno. Por isso, pedimos que as discussões sejam realizadas de maneira não-violenta e sem palavrões. Desde já, agradecemos.')" value="Logar" /> 
        </p>
        
        <p class="link">
          Ainda não tem conta?
          <a routerLink="/cadastrar">Cadastre-se</a>
        </p>
        <a id="linksenha" routerLink="/redefinir">Esqueceu sua senha?</a>
      </form>
    </div> 
</div>
