<body>
    <app-barra-lateral></app-barra-lateral>
    <div class="container">
        <div class="wrapper">
            <section class="post">
            <header>Dev's</header>
                <form action="#">
                    <div class="content">
                        <div id="nicolas">
                            <h3>Nicolas Ceo Matos</h3>

                            <img src="/assets/nicolas.jfif" width="200px" height="200px">

                            <p>Estudante concluinte do Curso Técnico integrado ao ensino médio em informática pelo Instituto Federal 
                                Baiano - Campus  Uruçuca
                            </p>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/profile.php?id=100005006566698"><span class="pi pi-facebook"></span></a></li>
                                <li><a href="https://www.instagram.com/nicolasceo_/"><span class="pi pi-instagram"></span></a></li>
                                <li><a href="https://github.com/NicolasCeo"><span class="pi pi-github"></span></a></li>
                             </ul>
                        </div>
                        <div id="izabelle">
                            <h3>Izabelle Garcez Barbosa</h3>

                            <img src="/assets/izabelle.jfif" width="200px" height="200px">

                            <p>Estudante concluinte do Curso Técnico integrado ao ensino médio em informática pelo Instituto Federal 
                                Baiano - Campus  Uruçuca
                            </p>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/izabelle.garces/"><span class="pi pi-facebook"></span></a></li>
                                <li><a href="https://www.instagram.com/garcez.belle/"><span class="pi pi-instagram"></span></a></li>
                                <li><a href="https://github.com/trem-balinha-da-vu"><span class="pi pi-github"></span></a></li>
                             </ul>
                        </div>
                        
    
                    </div>
                </form>
            </section>
        </div>
    
