*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, primeicons;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1d3b1d;
    background: linear-gradient(#408a40, #1d3b1d);
  }
  
  #nicolas, #izabelle{
    display:block;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 400px;
    padding: 25px;
    margin: 15px;
    margin-top: 0;
    
  }

  

  .container{
    display: flex;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    background: #d9d9d9;
    border-radius: 15px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  }
  
  .container .wrapper{
    width: 4705px;
    height: 600px;
    display: flex;
  }
  .container .wrapper section{
    width: 1000px;
    background: #d9d9d9;
  }
  .container img{
    cursor: pointer;
    border-radius: 50%;
    align-self: center;
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid silver;
  }

  .post header{
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 2px solid #bfbfbf;
  }


  .post form{
    margin:0;

  }
  .post form .content,
  .audience .list li .column{
    display: flex;
    align-content:left;
  }
  .post form .content img{
    cursor: default;
    margin: 25px;
  }
  
  .icons{
    list-style: none;
  }
  .icons li{
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
  }
  .icons li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10%;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    transition: all 0.3s ease-in;
  }
  .icons li:hover:before{
    transform: rotate(360deg);
    border-radius: 100%;
  }
  .icons li a span{
    font-size: 27px;
    line-height: 70px;
    color: #1d3b1d;
    transition: all 0.3s ease-out;
  }
  .icons li:hover a span{
    transform: scale(1.2);
  }