<div id="maior"class="container">
  <div id="redefina">
      <form id="formulario" method="post" action="">
            <div id="logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg/200px-Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg.png" alt="logo" width=130 height=110 > 
            </div>
            <p> 
              <label for="email_login">Insira uma nova senha</label>
              <input id="nova_senha" name="nova_senha" />
            </p>
            
            <p> 
              <label for="senha_login">Confirme a nova senha</label> 
              <input id="nova_senha" name="nova_senha" />
            </p>
            
            <p> 
              <input type="submit" (click)="redefinir();" value="Redefinir senha" />
            </p>
        </form>
    </div>
</div>