<body>
<app-barra-lateral></app-barra-lateral>
<div class="container">
    <div class="wrapper">
        <section class="post">
        <header>Proposta do site</header>
            <form action="#">
                <div class="content">
                    
                    <div id="p1"> Para o TCC do curso Técnico em Informática,
                         os alunos Izabelle Garcez Barbosa e Nicolas Ceo Matos, ao observar as problemáticas atuais do IF, perceberam um óbice em relação
                        ao diálogo entre o poder administrativo e seus subordinados. O site"Reclama IF" surgiu da necessidade de tornar menos burocrático o processo
                        de comunicar, à administração do Instituto Federal Baiano - Campus Uruçuca, as demandas dos discentes, de modo a diminuir os impasses
                        e expor as questões que impedem o bem-viver pleno dos estudantes.
                    <br>
                    <br>
     Ademais, o ambiente virtual tem por objetivo ser de troca entre os usuários, para uma melhor vivência e conhecimento da instituição. A partir do 
                        A partir do bom uso do site, esperamos que os seus problemas sejam ouvidos e criemos um ambiente acolhedor e respeitoso no campus.
                    </div>

                </div>
            </form>
        </section>
    </div>
